@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This exercise is about learning how to program in .Net, C# and ASP.NET. The task is about</p>
<p>showing accounts from a Json file and print it in a table when the user is choosing an option from</p>
<p>the console. The user should also beeing able to search for a spesific account number.</p>