/*
 * Comments are written as C++ style. 
 */
html {
    overflow-y: scroll;
}

body {
    margin: 8px auto;
    background: #fff;
    width: 700px;
}

table {
    width: 100%;
    border-collapse: collapse;
      
    }

th, td {
    padding: 15px;
    text-align: left;
  }

table, th, td{
    border: 1px solid grey;
}

th{
    background-color: khaki;
}

button{
    padding: 8px;
}